<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link href="../../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../static/bootstrap/css/bootstrap.css" rel="stylesheet">
    <script src="../../static/bootstrap/js/jquery-3.3.1.min.js"></script>
    <script src="../../static/bootstrap/js/bootstrap.min.js"></script>

    <link rel="icon" type="image/x-icon" href="../../static/images/logo.ico"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/header.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/main.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/footer.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/buyTickets.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/movieDetail.css">
    <script src="../../static/js/header.js" charset="utf-8"></script>
    <script src="../../static/js/Api.js"></script>

    <script src="../../static/layui/layui.js" charset="utf-8"></script>
    <link rel="stylesheet" href="../../static/layui/css/layui.css" media="all">
    <title>兔兔淘票-选影院</title>
</head>
<body>
<!-- ------------------------------------------------------------------- -->
<!-- 导航栏 -->
<div class="headerpage"></div>


<!-- 占位符 -->
<div style="margin-top: 80px;"></div>


<!-- 占位符 -->
<div style="margin-top: 50px;"></div>

<!-- 主体 -->
<div class="main">
    <div class="main-inner main-buyticket">
        <!-- 列表 -->
        <div class="cinemas-list" style="margin-top: 21px;">
            <h2 class="cinemas-list-header">影院列表</h2>
            <div class="cinema-cell">
                <div class="cinema-info">
                    <a class="cinema-name">万达影城电影院</a>
                    <p class="cinema-address">地址：甘井子区开源路泰德大厦对面1102室</p>
                </div>
                <div class="buy-btn">
                    <a href="#">进入影院</a>
                </div>
                <div class="price">
                    <span class="rmb red">￥</span>
                    <span class="price-num red"><span class="stonefont">4</span></span>
                    <span style="margin-left:5px;">起</span>
                </div>
            </div>


        </div>
        <!-- 分页 -->
        <div class="cinema-pager">
            <ul class="list-pager">
            </ul>
        </div>
    </div>
</div>
<!--底部文件引用位置-->
<div class="bottompage"></div>
<script src="/Movie/static/js/homePage.js"></script>
<script>
    $(function () {
        $(".headerpage").load("include/header.html");
        $(".bottompage").load("include/footer.html");
        cinemaList();
    })
</script>
</body>
</html>