<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="../../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../static/bootstrap/css/bootstrap.css" rel="stylesheet">
    <script src="../../static/bootstrap/js/jquery-3.3.1.min.js"></script>
    <script src="../../static/bootstrap/js/bootstrap.min.js"></script>

    <link rel="icon" type="image/x-icon" href="../../static/images/logo.ico"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/header.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/buySeat.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/footer.css">
    <script src="../../static/js/header.js" charset="utf-8"></script>
    <script src="../../static/js/Api.js"></script>


    <link rel="stylesheet" type="text/css" href="../../static/jq22/index.css">
    <link rel="stylesheet" type="text/css" href="../../static/jq22/jq22.css">
    <script src="../../static/jq22/jquery.seat-charts.min.js" charset="utf-8"></script>

    <script src="../../static/layui/layui.js" charset="utf-8"></script>
    <link rel="stylesheet" href="../../static/layui/css/layui.css" media="all">
    <title>兔兔淘票-选位置</title>
</head>
<body>
<!-- ------------------------------------------------------------------- -->
<!-- 导航栏 -->
<div class="headerpage"></div>

<!-- 占位符 -->
<div style="margin-top: 90px;"></div>

<!-- 主体 -->
<div class="container">
    <div class="order-progress-bar">
        <div class="step first done">
            <span class="step-num">1</span>
            <div class="bar"></div>
            <span class="step-next">选择影片场次</span>
        </div>
        <div class="step done">
            <span class="step-num">2</span>
            <div class="bar"></div>
            <span class="step-next">选择座位</span>
        </div>
        <div class="step">
            <span class="step-num">3</span>
            <div class="bar"></div>
            <span class="step-next">付款</span>
        </div>
        <div class="step last">
            <span class="step-num">4</span>
            <div class="bar"></div>
            <span class="step-next">影院取票观影</span>
        </div>
    </div>

    <div class="main">
        <div class="demo clearfix">
            <!---左边座位列表----->
            <div id="seat_area">
                <div class="front">屏幕</div>
            </div>
            <!---右边选座信息----->
            <div class="booking_area">
                <p>
                    <img class="MovieUrl" src="/Movie/upload/movies/对不起我们错过了你.jpg" style="height: 132px;width: 100px;">
                </p>
                <p>电影：<span class="movieName">天将雄师</span></p>
                <p>时间：<span class="movieTime">03月20日 22:15</span></p>
                <p>金额：<span class="movieMoney">40元</span></p>
                <p>座位：</p>
                <ul id="seats_chose"></ul>
                <p>票数：<span id="tickects_num">0</span></p>
                <p>总价：<b>￥<span id="total_price">0</span></b></p>
                <input type="button" class="btn" onclick="paly()" style="padding: 0" value="确定购买"/>
                <div id="legend"></div>
            </div>
        </div>
    </div>
</div>
<!--底部文件引用位置-->
<div class="bottompage"></div>
</body>
<script>
    $(function () {
        initMovie(getUrlParams("scene"));//初始化电影信息
        initSeat(getUrlParams("scene"));//初始化座位信息
        $(".headerpage").load("include/header.html");
        $(".bottompage").load("include/footer.html");
    })
    var price; //电影票价
    var movie_typeId=[]; //已经选择购买的座位
    var map =[];
    var movie_number; //座位数量
    var money;
    var buyList;
    $(document).ready(function() {
        var $cart = $('#seats_chose'), //座位区
            $tickects_num = $('#tickects_num'), //票数
            $total_price = $('#total_price'); //票价总额
        var sc = $('#seat_area').seatCharts({
            map:map
              /*  [//座位结构图 a 代表座位; 下划线 "_" 代表过道
                'cccccccccc',
                'cccccccccc',
                '__________',
                'cccccccccc',
                'cccccccccc',
                'cccccccccc',
                'cccccccccc',
                'cccccccccc',
                'cccccccccc',
            ]*/,
            naming: {//设置行列等信息
                top: false, //不显示顶部横坐标（行）
                getLabel: function(character, row, column) { //返回座位信息
                    return column;
                }
            },
            legend: {//定义图例
                node: $('#legend'),
                items: [
                    ['c', 'available', '可选座'],
                    ['c', 'unavailable', '已售出']
                ]
            },
            click: function() {
                if (this.status() == 'available') { //若为可选座状态，添加座位
                    $('<li>' + (this.settings.row + 1) + '排' + this.settings.label + '座</li>')
                        .attr('id', 'cart-item-' + this.settings.id)
                        .data('seatId', this.settings.id)
                        .appendTo($cart);
                    movie_typeId.push((this.settings.row + 1)+"_"+this.settings.label)
                    $tickects_num.text(sc.find('selected').length + 1); //统计选票数量
                    movie_number = sc.find('selected').length + 1
                    $total_price.text(getTotalPrice(sc) + price);//计算票价总金额
                    money = getTotalPrice(sc) + price;
                    return 'selected';
                } else if (this.status() == 'selected') { //若为选中状态
                    $tickects_num.text(sc.find('selected').length - 1);//更新票数量
                    movie_number = sc.find('selected').length - 1
                    $total_price.text(getTotalPrice(sc) - price);//更新票价总金额
                    money = getTotalPrice(sc) - price;
                    $('#cart-item-' + this.settings.id).remove();//删除已预订座位
                    var oindex = movie_typeId.indexOf(this.settings.id);
                    movie_typeId.splice(oindex,1)
                    return 'available';
                } else if (this.status() == 'unavailable') { //若为已售出状态
                    return 'unavailable';
                } else {
                    return this.style();
                }
            }
        });
        //设置已售出的座位
        sc.get(buyList).status('unavailable');
    });

    //初始化执行查询电影详情的方法
    function initMovie(id) {
        $.ajax({
            url:"/Movie/scene/findSceneByMovie",
            data:{"id":id},
            async:false,
            dataType:"json",
            type:"GET",
            success:function(data){
                $(".MovieUrl").attr("src","/Movie"+data.data.movie_img_url)
                $(".movieName").html(data.data.movie_name)
                $(".movieTime").html(data.data.projection_time)
                $(".movieMoney").html(data.data.money+"元")
                price= data.data.money
            }
        });
    }
    function initSeat(id) {
        $.ajax({
            url:"/Movie/seat/findMovieSeat",
            data:{"id":id},
            async:false,
            dataType:"json",
            type:"GET",
            success:function(data){
                buyList = data.data.buyList
                map = data.data.seatList
            }
        });
    }

    function getTotalPrice(sc) { //计算票价总额
        var total = 0;
        sc.find('selected').each(function() {
            total += price;
        });
        return total;
    }
    //点击确定购买执行的方法
    function paly() {
        var user = JSON.parse(localStorage.getItem("userJson"));
        if(user!=null&&user!=""){
            id = JSON.parse(localStorage.getItem("userJson")).id
            if(movie_typeId.length==0){
                alert("请至少选择一个座位，才能进行生成订单！")
            }else{
                    $.ajax({
                        url:"/Movie/order/savePayOrder",
                        data:{
                            "userId":user.id,
                            "sceneId":getUrlParams("scene"),
                            "price":money,
                            "seatNumber":movie_typeId.toString(),
                            "number":movie_number,
                            "stauts":0,
                        },
                        dataType:"json",
                        type:"POST",
                        success:function(data){
                            window.location.href="/Movie/views/view/pay.html?ordernumber="+data.flag
                        }
                    });

            }
        }else{
            window.location.href="/Movie/views/view/login.html"
        }
    }

    //获取url参数
    function getUrlParams(name) { // 不传name返回所有值，否则返回对应值
        var url = window.location.search;
        if (url.indexOf('?') == 1) { return false; }
        url = url.substr(1);
        url = url.split('&');
        var name = name || '';
        var nameres;
        // 获取全部参数及其值
        for(var i=0;i<url.length;i++) {
            var info = url[i].split('=');
            var obj = {};
            obj[info[0]] = decodeURI(info[1]);
            url[i] = obj;
        }
        // 如果传入一个参数名称，就匹配其值
        if (name) {
            for(var i=0;i<url.length;i++) {
                for (var key in url[i]) {
                    if (key == name) {
                        nameres = url[i][key];
                    }
                }
            }
        } else {
            nameres = url;
        }
        // 返回结果
        return nameres;
    }
</script>
</html>