<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link href="../../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../static/bootstrap/css/bootstrap.css" rel="stylesheet">
    <script src="../../static/bootstrap/js/jquery-3.3.1.min.js"></script>
    <script src="../../static/bootstrap/js/bootstrap.min.js"></script>
    <link rel="icon" type="image/x-icon" href="../../static/images/logo.ico"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/header.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/main.css">
    <link rel="stylesheet" type="text/css" hr1ef="../../static/css/footer.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/buyTickets.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/movieDetail.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/selectSeat.css">
    <script src="../../static/js/header.js" charset="utf-8"></script>
    <script src="../../static/js/Api.js"></script>
    <script src="../../static/layui/layui.js" charset="utf-8"></script>
    <link rel="stylesheet" href="../../static/layui/css/layui.css" media="all">
    <title>兔兔淘票-选场次</title>
</head>
<body>
<!-- ------------------------------------------------------------------- -->

<!-- 导航栏 -->
<div class="headerpage"></div>

<!-- 占位符 -->
<div style="margin-top: 80px;"></div>

<!-- 巨幕 -->
<div class="banner2">
    <div class="wrapper clearfix">
        <div class="cinema-left">
            <div class="avatar-shadow">
                "<div class="avatar-num">欢迎大家前来观看</div>"
            </div>
        </div>

        <div class="cinema-main clearfix">
            <div class="cinema-brief-container">
                <h3 class="name text-ellipsis cinemaName">123123</h3>
                <div class="address text-ellipsis">1232</div>
                <div class="telphone">电话：0335-2661222</div>
                <div class="features-group">
                    <div class="group-title">影院服务</div>

                    <div class="feature">
                        <span class="tag ">3D眼镜</span>
                        <p class="desc text-ellipsis" title="免押金">免押金</p>
                    </div>
                    <div class="feature">
                        <span class="tag ">可停车</span>
                        <p class="desc text-ellipsis" title="可停车">停车场可凭电影票在影城票台领取3小时内免停权益</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- 占位符 -->
<div style="margin-top: 50px;"></div>

<!-- 主体 -->
<div class="main">
    <div class="main-inner main-bodyz">


        <div class="show-list active" data-index="0">
            <!-- 电影信息 -->
            <div class="movie-info">
                <div>
                    <h3 class="movie-name">111</h3>
                    <span class="score sc">222</span>
                </div>
                <div class="movie-desc">
                    <div>
                        <div>
                            <span class="key">时长 : </span>
                            <span class="value">11111</span>
                        </div>
                        <div>
                            <span class="key">类型 :</span>
                            <span class="value">22222</span>
                        </div>
                        <div>
                            <span class="key">导演 :</span>
                            <span class="value">3333</span>
                        </div>
                    </div>
                </div>
                <!-- 观影时间 -->
                <div class="show-date">
                    <span>观影时间 :</span>星期一
                </div>
                <!-- 场次列表 -->
            <div class="plist-container active">
                <table class="plist">
                    <thead>
                    <tr>
                        <th>放映时间</th>
                        <th>放映厅</th>
                        <th>售价（元）</th>
                        <th>选座购票</th>
                    </tr>
                    </thead>
                    <tbody>
<!--                        <tr>-->
<!--                            <td> <span class="begin-time">123</span> <br> </td>-->
<!--                            <td> <span class="lang">123</span> </td>-->
<!--                            <td> <span class="sell-price"> <span class="stonefont">123</span> </span> </td>-->
<!--                            <td> <a href="" class="buy-btn normal">选座购票</a> </td>-->
<!--                            </tr>-->
                        </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>

<!-- ------------------------------------------------------------------- -->
<script>
    var avatarShadow = $(".avatar-shadow")
    var movie_id = getUrlParams("movie_id");
    var cinema = getUrlParams("Cinema");
    var html = "";
    $(function () {
        $(".headerpage").load("include/header.html");
        $(".bottompage").load("include/footer.html");
        initData(movie_id,cinema);
    })
    function initData(movie_id,cinema) {
        $.ajax({
            url:"/Movie/scene/findScene",
            data:{
                "movie_id":movie_id,
                "cinema":cinema
            },
            dataType:"json",
            type:"GET",
            success:function(data){
                avatarShadow.prepend('<img class="avatar" src="/Movie'+data.data.cinema.cinemaImgUrl+'">')
                $(".cinemaName").html(data.data.cinema.cinemaName);
                $(".address").html(data.data.cinema.address);
                $(".telphone").html('电话：'+data.data.cinema.cinemaPhone);
                $(".movie-name").html(data.data.movieInfo.movieName);
                $(".score").html(data.data.movieInfo.doubanScore)
                $(".movie-desc").html('<div><div>'+
                    '<span class="key">时长 : </span>'+
                    '<span class="value">'+data.data.movieInfo.movieDuration+'分钟</span>'+
                    '</div><div>'+
                    '<span class="key">类型 :</span>'+
                    '<span class="value">'+data.data.movieInfo.movieCategoryName+'</span>'+
                    '</div><div>'+
                    '<span class="key">导演 :</span>'+
                    '<span class="value">'+data.data.movieInfo.director+'</span>'+
                    '</div></div>');
                $.each(data.data.scene,function (i) {
                    html+='<tr>'+
                        '<td> <span class="begin-time">'+this.projectionTime+'</span> <br> </td>'+
                        '<td> <span class="lang">'+this.projectionHall+'</span> </td>'+
                        '<td> <span class="sell-price"> <span class="stonefont">'+this.money+'</span> </span> </td>'+
                        '<td> <a href="/Movie/views/view/purchasePage.html?scene='+this.id+'" class="buy-btn normal">选座购票</a> </td>'+
                        '</tr>';
                });
                $(".plist").find("tbody").html(html)
            }
        });
    }



    //获取url参数
    function getUrlParams(name) { // 不传name返回所有值，否则返回对应值
        var url = window.location.search;
        if (url.indexOf('?') == 1) { return false; }
        url = url.substr(1);
        url = url.split('&');
        var name = name || '';
        var nameres;
        // 获取全部参数及其值
        for(var i=0;i<url.length;i++) {
            var info = url[i].split('=');
            var obj = {};
            obj[info[0]] = decodeURI(info[1]);
            url[i] = obj;
        }
        // 如果传入一个参数名称，就匹配其值
        if (name) {
            for(var i=0;i<url.length;i++) {
                for (const key in url[i]) {
                    if (key == name) {
                        nameres = url[i][key];
                    }
                }
            }
        } else {
            nameres = url;
        }
        // 返回结果
        return nameres;
    }

</script>
<!-- ------------------------------------------------------------------- -->

</body>
</html>